.layout {
  display: grid;
  grid-template-columns: 240px 1fr 300px;
  max-width: 1200px;
  margin: auto;
  height: 100vh;
}

.sidebar {
  padding: 1rem;
  border-right: 1px solid #e1e8ed;
}

.sidebar .logo {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.sidebar a {
  display: block;
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 9999px;
  color: black;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #e8f5fd;
  color: #1da1f2;
}

.content {
  border-right: 1px solid #e1e8ed;
}

.header {
  padding: 1rem;
  border-bottom: 1px solid #e1e8ed;
  font-size: 1.2rem;
  font-weight: bold;
}

.right-bar {
  padding: 1rem;
}
