.user-list-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.user-list-item:hover {
  background: #111;
}

.user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
